<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="template-demo">
                <button routerLink="main" type="button" class="btn btn-icons btn-rounded btn-light">
                  <i class="mdi mdi-home-outline"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="clean()">Agregar</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Productos</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Modelo
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Stock
                  </th>
                  <th>
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="ps.items">
                <tr *ngFor="let product of ps.items.data.productsInventory; let i = index" [attr.data-index]="i">
                  <td>
                    {{product.name}}
                  </td>
                  <td>
                    {{product.model}}
                  </td>
                  <td>
                    {{product.price}}
                  </td>
                  <td>
                    {{product.stock}}
                  </td>
                  <td>
                    <label class="badge badge-success mano" data-toggle="modal" data-target="#exampleModal"
                      (click)="edit(product)" style="margin-right: 5px;">Editar</label>
                    <label class="badge badge-danger mano" (click)="getKeyForDelete(product._id)">Eliminar</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 1.7em;">
        <h5 class="modal-title" id="exampleModalLabel">{{case}} Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 1.7em;">
        <div class="card-body">
          <form #formUser='ngForm' class="form-sample">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" placeholder="Nombre"
                      [(ngModel)]="product.name" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Modelo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="model" placeholder="Modelo"
                      [(ngModel)]="product.model" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Marca</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEmail2" name="mark"
                      placeholder="Marca" [(ngModel)]="product.trademark">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Descripcion</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputPassword2" name="description"
                      placeholder="Descripción" [(ngModel)]="product.description">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Stock</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="stock" [(ngModel)]="product.stock" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Precio</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="price" [(ngModel)]="product.price" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputEmail7" class="col-sm-3 col-form-label">Color</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEmail7" name="color"
                      placeholder="Color" [(ngModel)]="product.color">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Unidad de Medida</label>
                  <div *ngIf="ms.items" class="col-sm-9">
                    <select *ngIf="ms.items.data.measuresInventory[0]" class="form-control" id="exampleSelectPrimar" name="measure" [(ngModel)]="product.measure">
                      <option *ngFor="let measure of ms.items.data.measuresInventory" value="{{measure._id}}">{{measure.name}}</option>
                    </select>
                    <label *ngIf="!ms.items.data.measuresInventory[0]" class="alerta col-form-label">¡Aun no tiene unidades de medida creadas!</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Categoria</label>
                  <div *ngIf="cts.items" class="col-sm-9">
                    <select *ngIf="cts.items.data.categorysInventory[0]" class="form-control" id="exampleSelectPrimar" name="category" [(ngModel)]="product.category">
                      <option *ngFor="let category of cts.items.data.categorysInventory" value="{{category._id}}">{{category.name}}</option>
                    </select>
                    <label *ngIf="!cts.items.data.categorysInventory[0]" class="alerta col-form-label">¡Aun no tiene categorias creadas!</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Compatibilidad</label>
                  <div *ngIf="cbs.items" class="col-sm-9">
                    <select *ngIf="cbs.items.data.compatibilitysInventory[0]" class="form-control" id="exampleSelectPrimar" name="compatibility" [(ngModel)]="product.compatibility">
                      <option *ngFor="let compatibility of cbs.items.data.compatibilitysInventory" value="{{compatibility._id}}">{{compatibility.name}}</option>
                    </select>
                    <label *ngIf="!cbs.items.data.compatibilitysInventory[0]" class="alerta col-form-label">¡Aun no tiene compatibilidades creadas!</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addItem(product)">Guardar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="clean()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="¿Estas seguro?" text="Los datos no se podran recuperar." type="warning"
  [showCancelButton]="true" [focusCancel]="true" (cancel)="clean()" (confirm)="deleteItem()">
</swal>

