<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="template-demo">
                <button routerLink="main" type="button" class="btn btn-icons btn-rounded btn-light">
                  <i class="mdi mdi-home-outline"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="clean()">Agregar</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Usuarios</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Correo
                  </th>
                  <th>
                    Telefono
                  </th>
                  <th>
                    Rol
                  </th>
                  <th>
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="us.items">
                <tr *ngFor="let user of us.items.data.users; let i = index" [attr.data-index]="i">
                  <td>
                    {{user.firstname}}
                  </td>
                  <td>
                    {{user.user}}
                  </td>
                  <td>
                    {{user.phone}}
                  </td>
                  <td>
                    {{user.role}}
                  </td>
                  <td>
                    <label class="badge badge-success mano" data-toggle="modal" data-target="#exampleModal"
                      (click)="edit(user)" style="margin-right: 5px;">Editar</label>
                    <label class="badge badge-danger mano" (click)="getKeyForDelete(user._id)">Eliminar</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 1.7em;">
        <h5 class="modal-title" id="exampleModalLabel">{{case}} Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 1.7em;">
        <div class="card-body">
          <form #formUser='ngForm' class="form-sample">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nombres</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="firstname" placeholder="Ingrese nombres"
                      [(ngModel)]="user.firstname" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Apellidos</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="lastname" placeholder="Ingrese apellidos"
                      [(ngModel)]="user.lastname" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Nombre de Usuario</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEmail2" name="username"
                      placeholder="Ingrese usuario" [(ngModel)]="user.user">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password"
                      placeholder="Contraseña" [(ngModel)]="user.password">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">DNI</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="dni" [(ngModel)]="user.dni" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Telefono</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="phone" [(ngModel)]="user.phone" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleInputEmail7" class="col-sm-3 col-form-label">Dirección</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputEmail7" name="address"
                      placeholder="Ingrese dirección" [(ngModel)]="user.address">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="exampleSelectPrimary">Rol</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="exampleSelectPrimary" name="role" [(ngModel)]="user.role">
                      <option value="Admin">Administrador</option>
                      <option value="User">Usuario</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="this.user.role !== 'Admin'">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Inventario</label>
                  <div class="col-sm-9">
                    <select *ngIf="is.items" class="form-control border-primary" id="exampleSelectPrimar" name="inventory" [(ngModel)]="user.inventory">
                      <option *ngFor="let inventory of is.items.data.inventorys" value="{{inventory._id}}">{{inventory.name}}</option>
                    </select>
                    <label *ngIf="!is.items" class="col-sm-3 col-form-label">Aun no tiene inventarios creados.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- <div class="col-md-6">
                <div class="form-group row">
                  <label for="exampleSelectPrimary">Rol</label>
                  <select class="form-control border-primary" id="exampleSelectPrimary" name="role" [(ngModel)]="user.role">
                    <option>Administrador</option>
                    <option>Usuario</option>
                  </select>
                </div>
              </div> -->
              <!-- <div class="col-md-6" *ngIf="almacenero">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Almacen</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="uidAlmacen" [(ngModel)]="usuario.uidAlmacen">
                      <option *ngFor="let almacen of almacenes" value="{{almacen.uid}}">{{almacen.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div> -->
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addItem(user)">Guardar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="clean()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="¿Estas seguro?" text="Los datos no se podran recuperar." type="warning"
  [showCancelButton]="true" [focusCancel]="true" (cancel)="clean()" (confirm)="deleteItem()">
</swal>
