/* You can add global styles to this file, and also import other style files */
.mano {
  cursor: pointer;
}

.alerta {
  color: red;
}

.autocomplete-container {
  box-shadow: none !important;
  border: 1px solid #f2f2f2;
}

